@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>@ViewBag.Greeting</h1>
    <h1 class="display-4">Намечается чумовая вечеринка!</h1>
    <p>Приглашаем вас посетить её.</p>
    <p>Пожалуйста, заполните форму:</p>
    <a asp-area="" asp-controller="Rsvps" asp-action="Create">RSVP</a>
</div>

